body {
    background-color: lightgray;
}

.tableroInicial {
    background-color: darkgray;
}

.turno:hover {
    background-color: gray;
    transition: 300ms;
}

.btnAviones{
    display: block;
    margin: 3px;
}
.divPadre {
    background-color: lightblue;
    display: flex;
    height: 30vw;
    width: 37vw;
    
}

.divHijoHorizontal {
    background-color: gray;
    border: 1px solid black;
    height: 3vw;
    width: 4vw;
    
}

.divHijoVertical {
    background-color: gray;
    border: 1px solid black;
    height: 3vw;
    width: 4vw;
    
}

.mar{
    background-color: #add8e6;
    
}

.mar:hover{
    background-color:darkblue;
    transition: 1000ms;
    cursor: grab;
}

.nave{
    background-color: darkorange;
}